<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <include resource="logback/logback-spring-base.xml"/>

  <logger name="org.springframework" level="WARN" />
  <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="WARN" />
  <logger name="org.springframework.http" level="WARN" />
  <logger name="org.springframework.security" level="WARN" />
  <logger name="org.springframework.web" level="WARN" />

  <logger name="se.inera.intyg.intygproxyservice.logging.MonitorLogService" level="INFO" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="MONITORING" />
  </root>
</configuration>
